body {
    background-color: #CCCCCC;
    color: #CCCCCC;
    display: flex;
    justify-content: center;
    align-items: center;
}

#app-space {
    background-color: #E5E5E5;
    border-radius: 20px;
    width: 80vw;
    height: 90vh;
    margin-top: 3vh;

    display: flex;
    justify-content: center;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
    grid-gap: 0px;
    grid-auto-rows: 10px;
}

#grid {
    height: 85%;
}

#palette {
    height: 15%;
}

button {
    border-radius: 50%;
    border: 0;
    background-color: red;
    padding: 2vh;
    height: 3vw;
    width: 3vw;
}