body {
    background-color: #CCCCCC;
    color: #CCCCCC;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
}

#app-space {
    background-color: #E5E5E5;
    border-radius: 20px;
    width: 80vw;
    height: 90vh;
    margin-top: 3vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#grid {
    height: 85vh;
    display: flex;
    align-items: center;
    justify-items: center;
}
#grid-table {
    width: 70vh;
    border: 1px solid #CCCCCC;
    border-collapse: collapse;
}

td {
    border: 1px solid #CCCCCC;
    width: 3vw;
    height: 2vw;
}

#grid {
    height: 85%;
}

#palette {
    height: 15%; 
}

button {
    border-radius: 50%;
    border: 0;
    padding: 2vh;
    margin: .3vh;
    height: 3%;
    width: 3%;
}